/* Geral*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

body{
    display: flex; /*Colocar as div lado a lado*/
    flex-wrap: wrap; /* Quebrar a linha*/
    }

/* Apresentação do evento*/
#about-container {
    flex: 1.6 ; /* O lado esquerdo vai ser 40% maior que o direito*/
    padding: 2rem 4rem; /* unidade de medida como o "px"*/
    margin-left: 1.5rem;
}

#brand {
    display: flex; /* Logo do lado do titulo*/
    align-items: center; /*alinhados ao centro*/
    font-size: .8rem ;
    margin-bottom: 1rem; 
}
#brand img {
    height: 50px;
    margin: .6rem;
}

#exclusivo {
    text-transform: uppercase; /*caixa alta*/
    color: #0075ff;
    font-weight: bold; /*negrito*/
    font-size: .9rem; /*diminuir a fonte*/
    margin-bottom: 1rem; /*margin-bottom, só afasta debaixo*/
}
#about-container h2 {
    font-size: 2.4rem; /*rem, unidade de medidade de tamanho, semelhante ao px*/
    margin-bottom: 3rem; /*margin-bottom, só afasta debaixo*/
    max-width: 500px; /* Tamanho máximo que o texto pode chegar*/
    
}
#description {
    max-width: 500px;
    margin-bottom: 1rem;
    line-height: 1.4rem; /* Aumentar a altura da linha*/
} 
#about-container h4  /*Texto PALESTRANTE*/
    {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
#date {
    color: gray;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
#usuario {
    display: inline-flex; /*display inline flex, alteração que fiz por conta própria.*/
    flex-wrap: wrap; /*quando não tem espaço, joga pra baixo*/
    gap: 1rem; /*1 respiro entre os cards*/
    margin-inline: 0.2rem;
}
.user-card {
    border: 2px solid #ccc;
    padding: 1rem;
    width: 180px;
    text-align: center;
    margin-bottom: 1rem;
}

.user-card img {
    width: 120px;
    border-radius: 50px;
    margin-bottom: 1rem;
}

.user-card .nome {
    font-weight: bold;
    margin-bottom: .6rem;

}

.user-card .profissao{
    color: #aaa;
    font-size: .9rem;

}
/* Formulário */

#form-container {
    flex: 1; 
    background-image: url(../img/pattern.png);
    background-size: cover ;
    color: whitesmoke;
}
#form-inner {
    margin: 3rem;
    padding: 2rem;
    border: 2px solid #fff; /*Borda branca ao redor do texto*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

}
#form-inner h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    }
#form-inner p {
    margin-bottom: 1rem;
    flex-wrap: wrap;
    
}
#register-forms {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

#register-forms input{
    padding: 0.8rem 0.6rem;
    border: none;
    border-radius: 3px;
}
#formulario {
    display: flex;
}
#email {
    display: flex;
    min-width: 100%;
    gap: 1rem;
    }
#Register-forms input[type="submit"] {
        background-color: transparent;
        color: white;
        border: 2px solid #fff;
        font-size: 1.1rem;
        font-weight: bold;
        cursor: pointer;
        transition: 0.4s;
    }
#Register-forms input[type="submit"]:hover {
        background-color: #fff;
        color: #0075ff;
}
#beneficios {
    text-align: left;
    align-self: start;
    margin-bottom: 8rem;
    margin-top: 6rem;
}

#beneficios h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    }
#beneficios ul {
    list-style-position: inside;
    margin-bottom: 0.5rem;
}
#beneficios li {
    margin-bottom: 0.5rem;
}

/*responsive */
@media (max-width: 450px)
{
body {flex-direction: column;} /*As imagens devem ficar uma do lado das outras*/
#about-container {
    padding: 1rem;
}
#about-container h2 {
    font-size: 3rem;
}
#date , #exclusivo {
    font-size: 1.4rem;
}
#description
{font-size: 1.6rem;
line-height: 2.2rem; /* Espaço entre as linhas*/
}
#usuario {
    font-size: 2rem;
    flex-direction: column;

}
.user-card {
    width: 100%; /*largura*/
    padding: 6rem;
}
.user-card img {
    width: 180px;
    }
.user-card .nome {
    font-size: 1.6rem;
}
.user-card .profissao {
    font-size: 1.6rem;
}
#form-inner {
    padding: 2rem;
    margin: 2rem;
}
#register-forms , #name-container {
    gap: 1rem;
}
}

h1 {color: brown;}